################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Test-Repo-GitHub/FileContentIndex
/Test/.vs/Test/FileContentIndex/1ce524ef-1249-4f4f-9746-6a173092bd6d.vsidx
